<footer class="footer">

    <div class="footer-container">

        <div class="footer-brand">

            <h2>🎨 Color Studio</h2>

            <p>
                Create • Convert • Generate • Explore Colors
            </p>

            <p class="copyright">
                © 2026 Charan Teja Epuri. All Rights Reserved.
            </p>

        </div>

        <div class="footer-links">

            <h3>Quick Links</h3>

            <a
                href="https://portfolio-site-django.onrender.com"
                target="_blank">

                Django Portfolio

            </a>

            <a
                href="https://github.com/charanepuri"
                target="_blank">

                GitHub

            </a>

            <a
                href="https://charan-react-portfolio.vercel.app"
                target="_blank">

                React Portfolio

            </a>

            <a
                href="https://www.linkedin.com/in/charan-teja-972aa9231"
                target="_blank">

                LinkedIn

            </a>
            
            <a
                href="https://flask-developer-dashboard-portfolio.onrender.com/"
                target="_blank">

                Flask Portfolio

            </a>

        </div>

        <div class="footer-tech">

            <h3>Built With</h3>

            <span>Angular 21</span>
            <span>TypeScript</span>
            <span>HTML5</span>
            <span>CSS3</span>

        </div>

    </div>

</footer>