<nav class="navbar">

    <div class="logo">
        🎨 Color Studio
    </div>

    <ul class="nav-links">

        <li>
            <a
                routerLink="/"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                Home
            </a>
        </li>

        <li>
            <a
                routerLink="/picker"
                routerLinkActive="active">
                Picker
            </a>
        </li>

        <li>
            <a
                routerLink="/palette"
                routerLinkActive="active">
                Palette
            </a>
        </li>

        <li>
            <a
                routerLink="/gradient"
                routerLinkActive="active">
                Gradient
            </a>
        </li>

        <li>
            <a
                routerLink="/converter"
                routerLinkActive="active">
                Converter
            </a>
        </li>

        <li>
            <a
                routerLink="/about"
                routerLinkActive="active">
                About
            </a>
        </li>

    </ul>

</nav>